<div style=" margin-right: 80px;margin-top: 30px;text-align: right ;">
  <button class="btn btn-primary" (click)="fuchideShow()">
    Add Education
  </button>
</div>
<div class="container w-100">
  <div style="text-align: center;">
    <h3>Education Details</h3>
  </div>
  <table class="table" [formGroup]="orderForm">
    <thead>
      <tr>
        <th>Education Name</th>
        <th>University Name</th>
        <th>Result</th>
        <th>Year Of Passing</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>


      <ng-container formArrayName="items">

        <ng-container *ngFor="let item of orderForm.get('items')['controls']; let i = index;">
          <tr [formGroupName]="i">
            <td class="form-group">
              <input type="text" formControlName="educationname" placeholder="Education Name" class="form-control"
                name="">
                <div *ngIf="item.get('educationname').touched && item.get('educationname').invalid" class="danger">
                  Education Name Required</div>
            </td>

            <td  class="form-group">
              <input type="text" class="form-control" placeholder="University Name" formControlName="universityname" 
                name="">
                <div *ngIf="item.get('universityname').touched && item.get('universityname').invalid" class="danger">
                  University Name Required</div>
            </td>

            <td  class="form-group">
              <input type="text" class="form-control" formControlName="result" name="" placeholder="Result">
              <div *ngIf="item.get('result').touched && item.get('educationname').invalid" class="danger">
                Result Is Required</div>
            </td>

            <td  class="form-group">
              
              <input type="text" class="form-control" formControlName="yearofpassing" placeholder="Year Of Passing"
                name="">
                <div *ngIf="item.get('yearofpassing').touched && item.get('educationname').invalid" class="danger">
                  Year Of Passing  is Requied</div>
            </td>

            <td>
              <mat-icon *ngIf="!hideShow" style="color: blue; width: 50px;"  (click)="onSave()">save</mat-icon>   
              <mat-icon style="color:red">delete</mat-icon>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>