<div style="text-align: right; margin-right: 80px;margin-top: 30px;">
  <button class="btn btn-primary "><mat-icon>add</mat-icon>Add Experience</button>
</div>
<div class="container">
  <div style="text-align: center;">
    <h4>Experience Details</h4>
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Position</th>
        <th>Total Year</th>
        <th>Last etc</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         
      </tr>
    </tbody>
  </table>
</div>